body {
  padding: 30px;
  font-family: 'Rye', cursive;
  color: #ccad00;
  background-image: url("/harry_potter.gif");
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: darkred;
}

#menu {
  width: 220px;
  display: flex;
  margin: 0 auto;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}

#logo {
  text-align: center;
}

#exhibition-wrapper {
  margin-left: 300px;
}
.student {
  border: 5px double;
  margin: 0 35px 30px 0;
  padding: 25px;
  width: 200px;
  display: inline-block;
}

.form-el {
  margin: 10px 0;
}

.form-wrapper .form-el input[type="submit" i] {
  margin-left: 180px;
}

.form-wrapper .form-el label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  margin: 0 1em 0 0;
}
