
<h1>Find out if your rectangle is also a square!</h1>

<form action='output' method='post'>
  <div class="form-group">
    <label for='length'>Length of your rectangle</label>
    <input id='l' name='length' class='form-control' type='text'>
  </div>
  <div class="form-group">
    <label for='width'>Width of your rectangle</label>
    <input id='w' name='width' class='form-control' type='text'>
  </div>
  <button type='submit' class='btn'>Go!</button>
</form>
<!-- You should always use local variables unless you specifically
need to pass the value of that variable to the view. If you do need to pass a value into the view,
then you should use an instance variable.  -->
