
<!DOCTYPE html>
<html>
  <head>
    <title>Rectangle Checker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
