<h3>You inputted length <%=@length %> and width <%= @width %>.</h3>
<h3><%= @rstring_to_display %></h3>
<a href='/'>Return to home page</a>

<!-- When a user clicks the submit button, how does Sinatra know what to do?
 Sinatra will look at the form action and then routes the application to the corresponding block in app.rb.
Based on the form above, the form action is /output, so Sinatra
will look in app.rb for get("/output") -->

<!-- "length" and "width" are hash keys associated with the values we inputted in the form.
We can access these values using bracket notation: params["length"] and params["width"].
