img {
	width: 30%;
	float: left;
	margin: 1.66%;


}

p {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
}
#one{
	border-bottom: 2px solid #c0c5b6;
	width: 100%;
	padding-bottom: 5px;

}
