body {
  background-color: #fffff9;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.main-text {
  width: 100%;
  float: center;


}
div {
  margin: auto;

}

header {
  padding: 25px  0px 0;
  background-color: #f5e4e0d9;
  text-decoration: none;
  text-align: center;
}


header h1 {
  font-weight: 570;
  margin: 0;


}

header nav {
  display: flex;
  margin: .8%;
  height: 70px;
  justify-content: center;
  padding: 2px;

}

 p {

  width: 100%;
  margin: auto;




}
ul {
  margin: 18px auto;
  padding: 0px 25px;
  text-align: left;

}


a {
color: white;

}


h1 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
}





h4 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase
}

  p {
  color: #101272;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  padding:50px 8px 10px 0px;;
  text-align: center;
}

footer {
  background-color: #DBE9EE;
  text-align: center;
  height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0;


}
