<h2>Edit <%= @exhibition.format_name %></h2>
<form method="POST" action="/exhibition/<%= @exhibition.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="artists_lname">Collector Name:</label>
      <input type="text" name="artists_lname" id="artists_lname" value="<%= @exhibition.artists_lname %>"/>
    </div>

    <div class="form-el">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" value="<%= @exhibition.title%>"/>
    </div>

    <div class="form-el">
      <label for="artist_select">Select exhibit:</label>
      <select name="artist_id" id="artist_select" selected="<%= @exhibition.artist_id  %>">
        <% @artists.each do |artist| %>
          <% if artist.id == @exhibition.artist_id %>
            <option value=<%= artist.id %> selected><%= artist.first_name.capitalize %></option>
          <% else %>
            <option value=<%= artist.id %>><%= artist.second_name.capitalize %></option>
          <% end %>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="title">title:</label>
      <input type="title" name="title" id="title" value="<%= @exhibition.title %>"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Add Artist"/>
    </div>

  </div>
</form>
