<h2>Exhibition</h2>

<div id="exhibition-wrapper">
  <% @exhibitions.each do |exhibition| %>

  <div class="exhibition">
    <h3><a href="/exhibition/<%= exhibition.id %>"><%= exhibition.format_name %></a></h3>
    <p>Exhibit: <%= exhibition.title %></p>
    <p>Collector Name: <%= @artist.second_name.capitalize %></p>
  </div>

  <% end %>
</div>
