<!DOCTYPE html>
<html>
<head>
  <title>Museum Collections</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav id="menu">
    <li class="menu-item"><a href='/exhibition'>Artists</a></li>
    <li class="menu-item"><a href='/exhibition/new'>Add Artist/a></li>
  </nav>
  <h1 id="logo">Museum </h1>
  <%= yield %>

</body>
</html>
