<h2>Add Collector</h2>
<form method="POST" action="/exhibition">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="artists_lname">First Name:</label>
      <input type="text" name="artists_lname" id="artists_lname"/>
    </div>

    <div class="form-el">
      <label for="title_name">Last Name:</label>
      <input type="text" name="title" id="title"/>
    </div>

    <div class="form-el">
      <label for="exhibit_select">Select Exhibition:</label>
      <select name="artist_id" id="exhibit_select">
        <% @exhibitions.each do |exhibit| %>
            <option value=<%= exhibit.id %><%= exhibit.name.capitalize %></option>
        <% end %>
      </select>
    </div>
<!--
    <div class="form-el">
      <label for="age">Age:</label>
      <input type="number" name="age" id="age"/>
    </div> -->

    <div class="form-el">
      <input type="submit" value="Create Exhibit"/>
    </div>

  </div>
</form>
