<h2><%= @exhibition.format_name %></h2>

<p>Exhibition: <%= @exhibition.artist.second_name.capitalize %></p>
<p>Title: <%= @exhibition.title %></p>

<a href="/exhibition/<%= @exhibition.id %>/edit">Edit</a>
<form action="/exhibition/<%= @exhibition.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
