<h2>Student Registry: </h2>

<h1> Here all the students are listed: </h1>

<% for student in @students %>
  <p>First Name:  <%= student.first_name %> </p>
  <p>Second Name:  <%= student.second_name %> </p>
  <p>Age:     <%= student.age %> </p>
  <p>House:   <%= student.house%> </p>
  <p>Student Name: <%= student.pretty_name %></p>
  <br>
<% end %>


