<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>calculator</title>
  <link rel = "stylesheet" href="/style.css"
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about_us">About Us</a></li>
  </ul>
</nav>
</nav>
<%= yield %> 
</body>
</html>
