.container {
  border: solid 1px black;
}

.box {
  width: 500px;
}

.green {
  background-color: yellow;

}

.purple{
  background-color: green;
}

.peach {
  background-color: red;
}


.peach {
  background-color: plum;
}
