<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
  <ul>
  <h2> <li><a href="/">Home</a></li></h2>
  <h2> <li><a href="/rules">Rules</a></li></h2>
  </ul>
</nav>
</nav>
  <%= yield %>
  </body>
</html>
