
<h1><b> Rules</b></h1>
<p>A simple game consisting of three elements paper, rock ,scissors. With both players taking it in return tbodypriduce a 'hand',
  the player with the 'stronger' element wins. If both players equal-then it is a draw.</p>

  <ol>
    <li>Rock beats Scissors</li>
    <li>Scissors beats Paper</i>
      <li> Paper beats Rock</li>
      <li>Paper beats Scissors</li>
    </ol>
    <p>The above list applies to permutations of this in respect to those rules</p>
