<form method="post" action="/pizza-orders/<%= @order.id %>/update"

  <label for = "first_name">First Name:</label>
  <input id ="first_name " type="text" name = "first_name" value = "<%=@order.first_name %>" />

  <label for = "last_name">Last Name:</label>
  <input id ="last_name " type="text" name = "last_name" value = "<%=@order.last_name %>" />


  <label for = "pizza-select">Select Pizza</label>
  <select id ="pizza-select" name = "topping" value = "<%=@order.topping %>">
    <option value = "Margherita">Margerhita</option>
    <option value = "Calzone">Calzone</option>
  </select>

  <label for = "quantity-box">Quantity:</label>
  <input id ="quantity-box" type ="number" name = "quantity" value = "<%=@order.quantity %>"/>
  <input type = 'submit' value="update pizza"  />

</form>
