<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href = "http://localhost:4567/pizza-orders">PizzaOrders</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
