<form method="post" action="/pizza-orders"
  <label for = "first_name">First Name:</label>
  <input id ="first_name " type="text" name = "first_name"</>

  <label for = "last_name">Last Name:</label>
  <input id ="last_name " type="text" name = "last_name"</>

  <label for = "pizza-select">Select Pizza</label>
  <select id ="pizza-select" name = "topping">
    <option value = "Margherita">Margerhita</option>
    <option value = "Calzone">Calzone</option>
  </select>

  <label for = "quantity">Quantity:</label>
  <input id ="quantity" type ="number" name = "quantity"/>
  <input type = 'submit' value="order pizza"  />
  
</form>
