<p>First Name:  <%= @order.first_name %> </p>
<p>Last Name:  <%= @order.last_name %> </p>
<p>Quantity:  <%= @order.quantity %> </p>
<p>Topping:  <%= @order.topping %> </p>

<form method="post" action="/pizza-orders/<%= @order.id %>/delete">
  <input type="submit" value="Delete Order"/>
</form>

<!-- <a href="/pizza-orders/<%= @order.id %>/edit">Edit</a> -->

<form method='get' action = "/pizza-orders/<%= @order.id %>/edit">
  <input type="submit" value="Edit Order"/>
</form>
