<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/style.css"

</head>
<body>

  <h1>Rock, Scissors,Paper!</h1>
  <h4><p> welcome to the wonderful game of paper,scissors,rock</p></h4>
  <h1><b> Rules</b></h1>
  <p>A simple game consisting of three elements paper, rock ,scissors. With both players taking it in return to produce a 'hand',
    the player with the 'stronger' element wins. If both players equal-then it is a draw.</p>

    <ol>
      <li>Rock beats Scissors</li>
      <li>Scissors beats Paper</i>
        <li> Paper beats Rock</li>
        <li>Paper beats Scissors</li>
      </ol>
      <p>The above list applies to permutations of this in respect to those rules</p>
      <!--
      <a href="/rock">Choose Rock</a>
      <br></br>
      <a href="/paper">Choose Paper</a>
      <br></br>
      <a href="/scissors">Choose Scissors</a>

      <br></br> -->

        <ol>
          <li><a href ="/scissors/rock"><h1>Rock</h1></a></li>
          <br></br>
          <li>  <a href="/scissors/paper"><h1>Paper</h1></a></li>
          <br></br>
          <li>  <a href="/scissors/scissors"><h1>Scissors</h1></a></li>
        </ol>
  
    </body>
    </html>
