<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
  <ul>
    <li>
 <a href="/">Home</a>
  </li>
  </ul>
</nav>
  <%= yield %>
  </body>
</html>
