<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">

    <link rel="stylesheet" href="/style.css"
  <title><b>Who Wins!</b></title>
</head>
<body>
  <h1><b>
  <%= @result %>
</b></h1>
</body>
</html>
