<!DOCTYPE html>
<html>
<head>
  <title>Hogwarths</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href = "/student/">Student Details</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
