
 <link rel="stylesheet"  type="text/css" href="css/Stylesheet.css">
<style>
div {
    width:300px;
    margin: auto;
    border: 1px solid brown;
  padding: 0.5cm 3cm;
}
div.container {
    border: 1px solid red;
    margin: center;
padding: 0.5cm 3cm;
}
div {
    background-color: lightblue;
}

h1 {
    color: brown;
    margin-left: 50px;
}


div.gallery img {
    width: 100%;
    height: auto;
}

</style>
